table{
    border: 2px solid black;
}
td,th{
    border: 0.5px solid black;
    padding: 2.5rem 1rem;
}
thead tr th{
    padding: 1rem 1rem;
}
tbody tr th+td a{
    color: #6c6868;
    text-decoration: none;
    /* background-color: red; */
}
.logoSize{
    width: 10rem;
}